<head>
  <title>Editar perfil</title>
</head>
<div class="backgrounds">
  <div class="container text-center">
    <div class="inset" style="height: 500px; overflow:auto; width:50%" >
	<h2>Editar Perfil</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <div class="texts">
              <%= f.label :email, "Correo" %><br/>
            </div>
	    <div class="boxes">
              <%= f.email_field :email, autofocus: true %>
            </div>
	  </div>

	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	  <% end %>

	  <div class="field">
	    <div class="texts">
	      <%= f.label :password, "Contraseña" %> <i>(Dejalo en blanco si no lo quieres editar.)</i><br />
            </div>
            <div class="boxes">
	      <%= f.password_field :password, autocomplete: "off" %>
            </div>
	    <% if @minimum_password_length %>
	      <br />
	      <em>Mínimo <%= @minimum_password_length %> caracteres</em>
	    <% end %>
	  </div>

	  <div class="field">
            <div class="texts">
	      <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
	    </div>
            <div class="boxes">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
	  </div>

	  <div class="field">
            <div class="texts">
	      <%= f.label :current_password, "Contraseña actual"  %> <i>(Necesitas la contraseña actual para confirmar los cambios)</i><br />
            </div>
            <div class="boxes">
	      <%= f.password_field :current_password, autocomplete: "off" %>
            </div>
	  </div>

	  <div class="actions">
	    <%= f.submit "Update" %>
	  </div>
	<% end %>

	<h3>Cancel my account</h3>

	<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

	<%= link_to "Back", :back %>
    </div>
  </div>
</div>
