<head>
  <title>Editar perfil</title>
</head>
<div class="backgrounds">
  <div class="container text-center">
    <div class="inset" style="height: 500px; overflow:auto; width:50%; margin-top: 50px;">
      <h2>Editar Perfil</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <div class="texts">
          <%= f.label :email, "Correo" %><br/>
        </div>
        <div class="boxes">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for:
        <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <div class="texts">
          <%= f.label :password, "Nueva contraseña" %>
          <% if @minimum_password_length %>
            <em style="font-size:12px;">Mínimo <%= @minimum_password_length %> caracteres</em>
          <% end %>
        </div>
        <div class="boxes">
          <%= f.password_field :password, autocomplete: "off" %><br>
          <i style="color:white; font-size:12px;">(Déjalo en blanco si no lo quieres editar.)</i>
        </div>
      </div>

      <div class="field">
        <div class="texts">
          <%= f.label :password_confirmation, "Confirmar nueva contraseña" %><br/>
        </div>
        <div class="boxes">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="field">
        <div class="texts">
          <%= f.label :current_password, "Contraseña actual"  %>
        </div>
        <div class="boxes">
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Guardar" %>
      </div>
      <% end %>

      <p><%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "¿Seguro que deseas cancelar tu cuenta?" }, method: :delete %></p>

      <%= link_to "Atrás", :back %>
    </div>
  </div>
</div>
