<head>
  <title>Registro</title>
</head>

<body>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="container">
      <div class="row">
        <h2 class="text-center">Crea una cuenta en Instrumentados</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
          <%= f.label :name, "Nombre" %><br/>
          <%= f.text_field :name, autofocus: true %>

        </div>
        <div class="col-md-6">
          <br>
          <%= f.label :email, "Correo" %><br/>
          <%= f.email_field :email, autofocus: true %>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
          <%= f.label :password, "Contraseña" %>
          <br>
          <%= f.password_field :password, autocomplete: "off" %>
          <br>
          <% if @minimum_password_length %>
            <em style="color:#CF4232">(Mínimo
            <%= @minimum_password_length %> caracteres)</em>
          <% end %>
        </div>

        <div class="col-md-6">
          <br>
          <%= f.label :password_confirmation, "Confirmar contraseña" %>
          <br>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
          <%= f.label :country, "País" %><br/>
          <%= f.text_field :country, autofocus: true %>
        </div>
        <div class="col-md-6">
          <br>
          <%= f.label :birthdate, "Fecha de nacimiento" %>
          <br>
          <%= f.date_field :birthdate, autofocus: true %>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
            <%= f.submit "Continuar", class: "btn btn-default btn-responsive btninter" %>
        </div>
        <div class="col-md-6">
          <br>
          <h4>O crea una cuenta con:</h4>
          <%= render "devise/shared/links" %>
        </div>
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <%= devise_error_messages! %>
          </div>
          <div class="col-md-4">

          </div>

        </div>


      </div>

    </div>
  <% end %>

</body>
