<head>
  <title>Registro</title>
</head>
<div class="backgrounds">
  <div class="container text-center">
    <div class="inset" style="margin-top: 6%; width: 350px;">
      <h2 style="color: white;">Crea una cuenta de instrumentados</h2>
      <div class="panel panel-default center-block" style="width:25%; min-width: 200px;">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <div class="texts-registro">
            <%= f.label :email, "Correo" %><br/>
          </div>
          <div class="boxes">
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>

        <div class="field">
          <div class="texts-registro">
            <%= f.label :password, "Contraseña" %>
          </div>
          <% if @minimum_password_length %>
          <em style="color: white">(Mínimo
            <%= @minimum_password_length %> caracteres)</em>
          <% end %><br/>
          <div class="boxes">
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>

        <div class="field">
          <div class="texts-registro">
            <%= f.label :password_confirmation, "Confirmar contraseña" %><br/>
          </div>
          <div class="boxes">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Continuar" %>
        </div>
        <% end %>
      </div>
      <%= devise_error_messages! %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
