<head>
  <title>Registro</title>
</head>
<body>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="container">
      <div class="row">
        <h2 class="text-center">Crea una cuenta en Instrumentados</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
          <h4>Nombre</h4>
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="col-md-6">
          <br>
          <h4>Correo electronico</h4>
          <%= f.email_field :email, autofocus: true %>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
          <h4>Contraseña</h4>
          <%= f.password_field :password, autocomplete: "off" %>
          <br>
          <% if @minimum_password_length %>
            <em style="color:#CF4232">(Mínimo
            <%= @minimum_password_length %> caracteres)</em>
          <% end %>
        </div>

        <div class="col-md-6">
          <br>
          <h4>Confirmar contraseña</h4>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
          <h4>País</h4>
          <%= f.text_field :country, autofocus: true %>
        </div>
        <div class="col-md-6">
          <br>
          <h4>Fecha de nacimiento</h4>
          <%= f.date_field :birthdate, autofocus: true %>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
          <div class="btn">
            <%= f.submit "Continuar" %>
          </div>
        </div>
        <div class="col-md-6">
          <br>
          <h4>O crea una cuenta con Facebook/Google</h4>
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  <% end %>
  <%= devise_error_messages! %>

</body>
