
  <title>Nueva Contraseña</title>
</head>
<body style="background-color:#F1F1F1">
  <%= render "partials/banner" %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
    <div class="row">
      <div class="col-md-12">
        <h3><strong>CAMBIA TU CONTRASEÑA</strong></h3>
        <hr>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12" style="padding-right:50%; margin-bottom:8%">
        <br>

        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <br>
        <br>
        <%= f.label :password, "Nueva contraseña" %>
        <div class="input-group" style="margin-bottom:10%">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"form-control", placeholder:"Nueva contraseña" %>
        </div>

        <% if @minimum_password_length %>
          <em>(Mínimo <%= @minimum_password_length %> caracteres) </em>
        <% end %>
        <br>
        <%= f.label :password_confirmation, "Confirmar nueva contraseña" %>
        <div class="input-group" style="margin-bottom:10%">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirmar nueva contraseña" %>
        </div>

        <%= f.submit "Cambiar contraseña", class:"btn btn-default" %>
        <br>
      </div>
    </div>
  </div>
  <%end%>
  <%= render "partials/footer" %>
</body>
