
  <title>Contraseña</title>
</head>
<body style="background-color:#F1F1F1">
  <%= render "partials/banner" %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
    <div class="row">
      <div class="col-md-12">
        <h3><strong>¿OLVIDASTE TU CONTRASEÑA?</strong></h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <h4 class="text-center">Te enviaremos instrucciones para reestrablecer tu contraseña</h4>

      <div class="col-md-12" style="padding-right:50%; margin-bottom:8%">
        <br>

        <%= devise_error_messages! %>
        <br>
        <br>
        <%= f.label :email, "Correo" %>
        <div class="input-group" style="margin-bottom:10%">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Correo" %>
        </div>
        <%= f.submit "Continuar", class:"btn btn-default" %>
      </div>
    </div>
  </div>
  <%end%>
  <%= render "partials/footer" %>
</body>
