
<body>
  <%= render "partials/banner" %>

  <div class="container" style="width:100%; padding-right:2%">
    <div class="row">
      <div class="col-md-3 sidenav m">
        <br>
        <div class='wrapper'>
          <ul class='items'>
            <li>
              <a class = "expanded" style="background-color:#F06060">Buscar curso</a>
              <ul class='sub-items' style="display: block;">
                <li>
                  <div class="input-group">
                    <%= form_tag home_path, method: :get, class: "" do %>
              				<%= text_field_tag :search, params[:search], placeholder: "Nombre del curso", class: "form-control text-search", type: "text" %>
                        <br>
                        <br>
                        <%= button_tag(type: 'submit', class: "btn btn-primary", style: "background-color:#136B63") do %>
                          <span class="glyphicon glyphicon-search"></span>
                        <% end %>
            			  <% end %>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a class="expanded" style="background-color:#52A9DE">Búsqueda avanzada</a>
              <ul class='sub-items' style="display: block;">
                <p style="margin-right: 10px; font-style: italic; text-align: center;">Puedes buscar por cualquier campo</p>

                  <%= form_tag home_path, method: :get, class: "" do %>
                    <%= text_field_tag :instrument, params[:instrument], placeholder: "Instrumento", class: "form-control text-search", type: "text" %>
            				<%= text_field_tag :genre, params[:genre], placeholder: "Genero", class: "form-control text-search", type: "text" %>
                    <%= submit_tag "Buscar", type: 'submit', class: "btn btn-default", style: "background-color:#136B63; color:white" %>
                  <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <% if @find_courses.empty?%>
        <div class="">
          No se encontraron cursos
        </div>
      <% else %>
        <div class="col-md-9" style="padding-top:2%">
          <% @find_courses.each do |course| %>
            <div class="col-md-12">
              <div class="container" style="width:100%; background-color:rgba(255, 255, 255, 0.9); box-shadow: 0 4px 10px #052E2D;">
                <div class="col-md-4" style="padding-left:0%; padding-top:1%; padding-bottom:1%">
                  <%= image_tag course.image.url, style: "width:100%; height:180px"  %>
                </div>
                <div class="col-md-8">
                  <div class="caption">
                    <h4><strong><%= link_to "#{course.name}", course_path(course.id)%></strong></h4>
                    <p align="justify"><strong>Descripción: </strong>
                    <%= course.description%>
                    </p>
                    <p align="justify"><strong>Género: </strong>
                    <%= course.genre%>
                    </p>
                    <p align="justify"><strong>Instrumento: </strong>
                    <%= course.instrument%>
                    </p>
                  </div>
                </div>
              </div>
              <br>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="container" style="margin: 0 auto">
      <div class="row">
        <div class="col-md-12 text-center">
          <br>
          <%= will_paginate @find_courses, renderer: BootstrapPagination::Rails,  :previous_label => 'Atrás', :next_label =>'Adelante'%>

        </div>
      </div>
    </div>
  </div>
  <%= render "partials/footer" %>
</body>
