<div class="alert alert-success alert-dismissable sesion">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong><%= notice %></strong>
</div>
<div class = "container-fluid" style = "padding-top:20px;">

	<div class="container-fluid">
	<h3>Todos los Cursos</h3>
	<table class = "table table-bordered table-striped">
	   <thead>
	      <tr>
	         <th>Curso</th>
	         <th>Visualizar</th>
	      </tr>
	   </thead>

	   <tbody>
	      <% @courses.each do |course| %>

	         <tr>
	            <td><%= link_to "#{course.name}", course_path(course.id) %></td>
	            <td><%= course.description%></td>
	         </tr>

	      <% end %>
	   </tbody>

	</table>
	<div class="pagination">
		<%= will_paginate @courses, :previous_label => 'Atrás', :next_label =>'Adelante'  %>
	</div>


	<div class = "container-fluid" style = "padding-top:20px;">
		<%= link_to "Crear Curso", courses_path, class: "btn btn-default" %>
	</div>
</div>
