
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Contacto</h2>
    </div>
  </div>
  <div class="row" style="background-color:#FAFAFF">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-4">
      <p>Contactanos y te responderemos en menos de una semana.</p>
      <p>
        <span class="glyphicon glyphicon-map-marker"></span>Bogotá D.C.,Colombia</p>
      <p>
        <span class="glyphicon glyphicon-phone"></span>3157657159</p>
      <p>
        <span class="glyphicon glyphicon-envelope"></span>instrumentados@gmail.com</p>
    </div>

    <div class="col-md-8">

      <%= form_with(model: contact, local: true) do |form| %>

      <div class="row">
        <div class="col-sm-6 form-group">
          <%= form.text_field :name, id: :contact_name, class: "form-control", placeholder:"Nombre" %>
        </div>
        <div class="col-sm-6 form-group">
          <%= form.text_field :mail, id: :contact_mail, class: "form-control", placeholder: "Email" %>
        </div>
      </div>
      <%= form.text_area :content, id: :contact_content, class: "form-control", placeholder:"Contenido" %>
      <div class="row">
        <div class="col-sm-12 form-group">
          <%= form.submit "Enviar", :class => "btn btn-default pull-right"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
