<style>
html,body {

  height:100%;

}
#wrapper{
  min-height: 100%;
}
</style>
<div class="container" style="min-width: 100%; background-color:white; padding-top:10%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%; ">
  <div class="row bg">
    <h1 style="color:black; padding-left:10%">INICIAR SESIÓN</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-4">
      <br>
      <p>Contactanos y te responderemos en menos de una semana.</p>
      <p>
        <span class="glyphicon glyphicon-map-marker"></span>Bogotá D.C.,Colombia</p>
      <p>
        <span class="glyphicon glyphicon-phone"></span>3157657159</p>
      <p>
        <span class="glyphicon glyphicon-envelope"></span>instrumentados@gmail.com</p>
    </div>

    <div class="col-md-8">
      <br>
      <%= form_for @contact, url: {action: "create"} do |form| %>

      <div class="row" style="margin-bottom:3%">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%= form.text_field :name, id: :contact_name, class: "form-control", placeholder:"Nombre" %>
          </div>

        </div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <%= form.text_field :mail, id: :contact_mail, class: "form-control", placeholder: "Email" %>
          </div>
        </div>
      </div>
      <%= form.text_area :content, id: :contact_content, class: "form-control", placeholder:"Contenido" %>
        <div class="row">
          <div class="col-sm-12 form-group">
            <br>
            <%= form.submit "Enviar", :class => "btn btn-default pull-right"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<footer class="footer py-2 text-md-center" style="
background-image:url(http://bodybybrent.com/wp-content/uploads/2012/05/Black-Background-Metal-2560x1600-by-Freeman2.jpg);
background-size: 100% 100%;
box-shadow: 2px -1px 5px black;
position: absolute;
width: 100%;
bottom: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<br>
				<a href="/contacts/new" style="color:white;">CONTACTO</a>
			</div>
			<div class="col-md-6">
				<br>
				<p style="font-size:15px; color:white;">Instrumentados © Todos los derechos reservados</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center" style="color:white;">
				<p >UNIVERSIDAD NACIONAL DE COLOMBIA</p>
				<br>
			</div>
		</div>
	</div>
</footer>
