
<%= render"partials/banner" %>
<%= form_for @lesson, url: {action: "create"} do |form| %>
<div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
  <div class="row">
    <h3><strong>CREAR LECCIÓN</strong></h3>
    <hr>
    <div class="col-md-12">
      <% if lesson.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
          <ul>
          <% lesson.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="padding-right:10%">
      <br>
      <%= form.label 'Titulo' %>
      <br>
      <%= form.text_field :title, class:"form-control", placeholder:"Titulo"%>
      <br>
    </div>
    <div class="col-md-6" style="padding-right:10%">
      <br>
      <%= form.label 'Descripción' %>
      <br>
      <%= form.text_area :description, class:"form-control", placeholder:"Descripción" %>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="padding-right:20%">
      <br>
      <%= form.hidden_field :course_id, value: params['course_id'] %>
      <%= form.fields_for :resources, html: { multipart: true } do |r| %>
        <%= r.label "Nombre del recurso" %>
        <br>
        <%= r.text_field :name, class:"form-control", placeholder:"Nombre del recurso" %>
        <%= r.file_field :attachment %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <%= form.submit %>
    </div>
  </div>
</div>
<% end %>
<%= render "partials/footer" %>
