  <title>Lección</title>
</html>
<body>
  <%= render "partials/banner" %>
  <div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
    <div class="row">
      <div class="col-md-12">
        <h3><strong>LECCIÓN</strong></h3>
        <hr>
        <h3>Nombre</h3>
        <h5><%= @lesson.title %></h5>
        <hr>
        <h3>Descripción</h3>
        <h5><%= @lesson.description %></h5>
      </div>
    </div>
  </div>
  <br>
  <div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
    <div class="row">
      <div class="col-md-12">
        <h3><strong>RECURSOS</strong></h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <% @lesson.resources.each do |resource| %>
      <h3 class="text-center"> <%=@lesson.title %></h3>
      <%extension = resource.attachment.file.extension.downcase %>
      <div class="col-md-11" style="width: 100%">
        <% if extension == "mp4" %>
          <%= video_tag resource.attachment_url, :width => "auto", :height => "auto", :controls => true %>
        <% elsif extension == "jpg" or extension == "png" %>
          <%= image_tag resource.attachment_url, :width => "auto", :height => "auto" %>
        <% elsif extension == "pdf" %>
          <embed src=<%= resource.attachment_url %> width="500" height="375" type='application/pdf'>
        <% end %>

        <%= link_to "Eliminar",  resource, method: :delete, confirm: "Quiere eliminar el recurso #{resource.name}?" %>
        <hr>
      </div>
      <% end %>
    </div>
    <div class="row">
      <br>
      <br>
      <div class="col-md-12">
        <%= link_to 'Editar', edit_course_lesson_path(@lesson.course,@lesson), class:"btn btn-default" %>
      </div>
    </div>
  </div>
  <%= render "partials/footer" %>

</body>
