<head>
  <title>Iniciar Sesión</title>
</head>

<body>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center" style="color: black;">Iniciar Sesión</h2>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.label :email, "Correo" %><br/>
          <%= f.email_field :email, autofocus: true %>
          <br>
          <br>
          <br>
          <%= f.label :password, "Contraseña" %><br/>
          <%= f.password_field :password, autocomplete: "off" %>
          <br>
          <br>
          <div class="btn">
            <%= f.submit "Iniciar sesión" %>
          </div>

        </div>
        <div class="col-md-6">
          <h4>Iniciar seción con:</h4>
          <br>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>


<!--
      <% if devise_mapping.rememberable? -%>
        <div class="field remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Recordarme" %>
        </div>
      <% end -%>
-->
  <% end %>
</body>
