<%= form_with(model: course,local: true) do |form| %>
<body>
	<%= render "partials/banner" %>
	<div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
		<div class="row">
			<h3><strong>CREAR/EDITAR CURSO</strong></h3>
			<hr>
		</div>
		<div class="row">
			<div class="col-md-6" style="padding-right:10%">
				<br>
				<%= form.label "Nombre del curso" %>
				<br>
				<%= form.text_field :name, class:"form-control", placeholder:"Nombre" %>
			</div>
			<div class="col-md-6" style="padding-right:10%">
				<br>
				<%= form.label "Descripción" %>
				<br>
				<%= form.text_area :description, class:"form-control", placeholder:"Descripción" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" style="padding-right:10%">
				<br>
				<%= form.label "Dificultad" %>
				<br>
				<%= form.select( :difficulty, ["Principiante","Intermedio", "Avanzado"]) %>
			</div>
			<div class="col-md-6" style="padding-right:10%">
				<br>
				<%= form.label "Género" %>
				<br>
				<%= form.select( :genre, ["rock", "clasica", "jazz", "latina", "electronica", "pop", "otro",]) %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" style="padding-right:10%">
				<br>
				<%= form.label "Instrumento" %>
				<br>
				<%= form.text_field :instrument, class:"form-control", placeholder:"Instrumento" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<br>
					<%= form.submit "Continuar", class:"btn btn-success btn-block" %>
			</div>
		</div>
	</div>
	<%= render "partials/footer" %>
</body>


<% end %>
