  <title>Mis cursos</title>
</html>
<body>
  <%= render "partials/banner" %>
  <div class="container" style="width:100%; padding-right:2%; min-height:90%">
    <div class="row">
      <div class="col-md-3 sidenav m">
        <br>
        <div class='wrapper'>
          <ul class='items'>
            <li>

              <a class = "expanded  barra-menu" style="background-color:#F06060">Mis cursos</a>
              <hr>
              <%= link_to 'Nuevo curso', new_course_path, style:"background-color:#24C2CB" %>
              <hr>

              <ul class='sub-items' style="display: block;">
                <li>
                  <div class="input-group">
                    <%= form_tag home_path, method: :get, class: "" do %>
              				<%= text_field_tag :search, params[:search], placeholder: "Nombre del curso", class: "form-control text-search", type: "text" %>
                        <br>
                        <br>
                        <%= button_tag(type: 'submit', class: "btn btn-primary", style: "background-color:#136B63") do %>
                          <span class="glyphicon glyphicon-search"></span>
                        <% end %>
            			  <% end %>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <a class="expanded  barra-menu" style="background-color:#52A9DE">Búsqueda avanzada</a>
              <a class="expanded" >Búsqueda avanzada</a>
              <ul class='sub-items' style="display: block;">
                <p style="margin-right: 10px; font-style: italic; text-align: center;">Puedes buscar por cualquier campo</p>

                  <%= form_tag home_path, method: :get, class: "" do %>
                    <%= text_field_tag :instrument, params[:instrument], placeholder: "Instrumento", class: "form-control text-search", type: "text" %>
            				<%= text_field_tag :genre, params[:genre], placeholder: "Genero", class: "form-control text-search", type: "text" %>
                    <%= submit_tag "Buscar", type: 'submit', class: "btn btn-default", style: "background-color:#136B63; color:white" %>

                  <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9" style="padding-top:2%">
        <% @courses.each do |course| %>
        <% @adminCourse = Enroll.where("course_id = ? AND user_id = ? AND admin = ?", course.id, current_user.id, true) %>
        <% puts @adminCourse.name %>
        <% if @adminCourse != nil %>
        <div class="col-md-12">
          <div class="container" style="width:100%; background-color:rgba(255, 255, 255, 0.9); box-shadow: 0 4px 10px #052E2D;">
            <div class="col-md-4" style="padding-left:0%; padding-top:1%; padding-bottom:1%">
              <%= image_tag course.image.url, style: "width:100%; height:180px"  %>

            </div>
            <div class="col-md-8">
              <h4><strong><%= link_to "#{course.name}", course_path(course.id)%></strong></h4>
              <p align="justify"><%= course.description %></p>
              <p><%= link_to 'Editar', edit_course_path(course) %></p>
              <p><%= link_to 'Eliminar', course, method: :delete, data: { confirm: '¿Estás seguro de que quieres eliminar este curso?' }%></p>
              <br>
            </div>
          </div>
          <br>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container will-paginate" style="margin: 0 auto">
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <%= will_paginate @courses, renderer: BootstrapPagination::Rails,  :previous_label => 'Atrás', :next_label =>'Adelante'%>
      </div>
    </div>
  </div>
  <%= render "partials/footer" %>
</body>
