
	<title><%= @course.name %></title>
</head>

<body >

	<%= render "partials/banner" %>
	<div class="container" style="width:100%; padding-right:2%">
		<div class="row">
			<div class="col-md-3 sidenav m">
        <br>
        <div class='wrapper'>
          <ul class='items'>
            <li>
              <a class = "expanded" style="background-color:#F06060; font-size:18px"><%= @course.name %></a>


								<hr>
								<%= link_to 'Foro', course_posts_path(@course), style:"background-color:#52A9DE" %>

							<hr>
							<h4 style="padding-left:10%"><strong>☞ <%= link_to "Descripción", course_path%></strong></h4>
							<hr>
							<h4 style="padding-left:10%"><strong>Lecciones</strong></h4>
							<% @course.lessons.each do |lesson| %>
              <div class='sub-items' style="display: block;">
								<style>a{color:black;} a:hover{color:red;}</style>
								<h4><%= link_to lesson.title, course_lesson_path(@course.id,lesson.id)%></h4>
              </div>
							<% end %>
							<h4 style="padding-left:10%">► <%= link_to "Crear Lección", new_course_lesson_path(:course_id => params[:id]) %></h4>
							<hr>
							<h4 style="padding-left:10%">► <%= link_to 'Editar curso', edit_course_path(@course) %></h4>
							<hr>
							<%= link_to 'Ver certificado', generate_course_path(params[:id]),style:"background-color:#00A399", target: "_blank"%>
							<hr>
							<p style="padding-left:10%">Vistas: <%= @course.views %></p>
							<p style="padding-left:10%">Reputación: <%= @course.reputation %></p>
            </li>

          </ul>
        </div>
      </div>

			<div class="col-md-9" style="padding-top:2%;">
				<div class="container" style="
				width:100%; background-size:100% 100%;
				background-color:rgba(255,255,255,0.7);
				box-shadow: 0 4px 10px #052E2D;
				padding-top:5%;
				padding-left:5%;
				paddong-right:5%;
				padding-bottom:5%">

				<% if notice %>
				  <div class="alert alert-success alert-dismissable sesion">
					  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					  <strong><%= notice %></strong>
				  </div>
				<% end %>
					<div class="col-md-12" style="padding-bottom:10%; padding-top:2%; background-color:rgba(255,255,255,0.1); box-shadow: 4px 4px 4px #052E2D;">
						<h3><%= @course.description %></h3>
					</div>
					<div class="col-md-12" style="padding-bottom:2%; padding-top:2%; background-color:rgba(255,255,255,0.1); box-shadow: inset 4px 0px 4px grey;">
						<h3>Género</h3>
						<h4><%= @course.genre %></h4>
					</div>
					<div class="col-md-12" style="padding-bottom:2%; padding-top:2%; background-color:rgba(255,255,255,0.1); box-shadow: 4px 4px 4px #052E2D;">
						<h3>Dificultad</h3>
						<h4><%= @course.difficulty %></h4>
					</div>


				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<br>
				<% if @course.state == "INACTIVO" %>
					<div class="alert alert-danger">
						El curso no está activo. Añade lecciones para activarlo
					</div>
				<% elsif @course.state == "ACTIVO" %>
					<div class="alert alert-warning">
						El curso está activo.
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<%= render "partials/footer" %>
</body>
