	<title><%= @course.name %></title>
</head>

<body style="background-color:#F1F1F1">
	<%= render "partials/banner" %>
	<div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
		<div class="row">
			<div class="col-md-9">
				<h3><strong>CURSO: <%= @course.name %></strong></h3>
				<hr>
			</div>
			<div class="col-md-3 text-center" style="margin-top:2%">
				<%= link_to 'Editar Curso', edit_course_path(@course), class: "btn btn-large btn-block btn-default" %>
			</div>
			<div class="col-md-12">
				<div class="container-fluid">
					<h3>Descripción</h3>
					<td><%= @course.description %></td>
					<hr>
				</div>
				<div class="container-fluid">
					<h3>Género</h3>
					<td><%= @course.genre %></td>
					<hr>
				</div>
				<div class="container-fluid">
					<h3>Dificultad</h3>
					<td><%= @course.difficulty %></td>
					<hr>
				</div>
				<div class="container-fluid">
					<h3>Vistas</h3>
					<td><%= @course.views %></td>
					<hr>
				</div>
				<div class="container-fluid">
					<h3>Reputación</h3>
					<td><%= @course.reputation %></td>
					<hr>
				</div>
			</div>

		</div>

	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<br>
				<% if @course.state == "INACTIVO" %>
					<div class="alert alert-danger">
						El curso no está activo. Añade lecciones para activarlo
					</div>
				<% elsif @course.state == "ACTIVO" %>
					<div class="alert alert-warning">
						El curso está activo.
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
		<div class="row">
			<div class="col-md-8">
				<h3><strong>LECCIONES</strong></h3>
				<hr>
			</div>
			<div class="col-md-2" style="margin-top:2%">
				<%= link_to "Crear Lección", new_lesson_path(:course_id => params[:id]), class: "btn btn-large btn-block btn-default" %>
			</div>
			<div class="col-md-2" style="margin-top:2%">
				<%= link_to 'Ver certificado', generate_course_path(params[:id]), class: "btn btn-large btn-block btn-default", target: :_blank%>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<% @course.lessons.each do |lesson| %>
			    <div class="col-md-4">
						<h3><strong><%= link_to "#{lesson.title}", lesson_path(lesson.id) %></strong></h3>
			      <p><strong>Descripción: </strong>
							<%= lesson.description%>
						</p>
			    </div>
		    <% end %>
			</div>
		</div>
	</div>
	<%= render "partials/footer" %>
</body>
