<!-- Los cursos no creados -->

<title><%= @course.name %></title>
</head>

<body>
	<%= render "partials/banner" %>
	<div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
		<div class="row">
			<div class="col-md-9">
				<h3>
					<strong>Curso
						<%= @course.name %>
						<% if not @enrolls.empty? %>
							<br><br>
							<div style="color: rgb(64, 233, 108);">
								Ya estas inscrito
							</div>
						<% end %>
					</strong>
				</h3>
				<hr>
			</div>
			<div class="col-md-12">
				<div class="container-fluid">
					<h3>Descripción</h3>
					<td><%= @course.description %></td>
					<hr>
				</div>
				<div class="container-fluid">
					<h3>Género</h3>
					<td><%= @course.genre %></td>
					<hr>
				</div>
				<div class="container-fluid">
					<h3>Dificultad</h3>
					<td><%= @course.difficulty %></td>
					<hr>
				</div>
				<div class="container-fluid">
					<h3>Vistas</h3>
					<td><%= @course.views %></td>
					<hr>
				</div>
				<div class="container-fluid">
					<h3>Reputación</h3>
					<td><%= @course.reputation %></td>
					<hr>
				</div>
			</div>

		</div>

	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<br>
				<% if @course.state == "INACTIVO" %>
				<div class="alert alert-danger">
					El curso aún no está activo.
				</div>
				<% elsif @course.state == "ACTIVO" %>
				<div class="alert alert-warning">
					El curso está activo.
				</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
		<div class="row">

			<div class="col-md-12">
				<table class = "table table-bordered table-striped">
				   <thead>
				      <tr>
				         <th>Leccion</th>
				         <th>Visualizar</th>
				      </tr>
				   </thead>
				   <tbody>
				      <% @course.lessons.each do |lesson| %>
				         <tr>
				            <td><%= lesson.title %></td>
				            <td><%= link_to "Visualizar Lección", course_lesson_path(@course.id,lesson.id), class:"btn btn-default" %>
				         </tr>
				      <% end %>
				   </tbody>
				</table>
			</div>
		</div>

		<div class="col-md-12" style="margin-top:2%;">
			<% if @enrolls.empty? %>
				<%= link_to 'Inscribirse', enroll_course_path(course_id: params[:id], user_id: current_user.id), class: "btn btn-default" %>
			<% else %>
				<%= link_to 'Ver certificado', generate_course_path(params[:id]), class: "btn btn-default", target: "_blank"%>
			<%end%>
		</div>
		<div class="col-md-2" style="margin-top:2%;">
			<%= link_to 'Atras', home_path, class: "btn btn-default" %>
		</div>
	</div>
	</div>

<!--
	<div class="container" style="margin-top:60px;">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#descripcion" data-toggle="tab">Descripción</a></li>
			<li><a href="#lecciones" data-toggle="tab">Lecciones</a></li>
			<li><a href="#quiz" data-toggle="tab">Quiz</a></li>
			<li><a href="#foro" data-toggle="tab">Foro</a></li>
		</ul>

		<div class="tab-content">
			<div class= "tab-pane fade in active" id="descripcion">
				<td><%= @course.description %></td>
			</div>
			<div class= "tab-pane fade" id="lecciones">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Leccion</th>
									<th>Visualizar</th>
								</tr>
							</thead>
							<tbody>
								<% @course.lessons.each do |lesson| %>
								<tr>
									<td><%= lesson.title %></td>
									<td><%= link_to "Visualizar Lección", lesson_path(lesson.id), class:"btn btn-default" %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class= "tab-pane fade" id="quiz">

			</div>
			<div class= "tab-pane fade" id="foro">

			</div>
		</div>

	</div>
-->
	<%= render "partials/footer" %>
</body>
