  <%= render "partials/header"%>
  <%= stylesheet_link_tag "styles"%>
</head>
<body>
  <%= render "partials/banner" %>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="my-4">
          Foro
          <small><%= link_to @course.name, course_path(@course) %></small> 
          <p class="text-right">
            <%= link_to "nuevo post", new_course_post_path(:course => @course) , class: "btn btn-info" %>
          </p>
        </h1>
        <% @course.posts.each do |post| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h2><%= link_to post.title, course_post_path(@course.id, post.id) %></h2>
          </div>
          <div class="panel-footer" style="padding-bottom:1px">
            <p>Publicado hace 
              <%= time_ago_in_words(post.created_at) %> 
              por <%= post.user.name %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails,  :previous_label => 'Atrás', :next_label =>'Adelante'%>
  </div>
</body>
<%= render "partials/footer" %>