  <%= render "partials/header"%>
  <%= stylesheet_link_tag "styles"%>
</head>
<body>
  <%= render "partials/banner" %>
  <div id="post_content" class="container" style="min-height: 80%">
    <div class="row">
			<%= link_to 'Atras', course_posts_path, class: "btn btn-default" %>
      <div class="col-lg-8">
        <h1 class="mt-4">
          <B><%= @post.title %></B>
          <small><%= @post.comments.count %> Comentarios</small>
        </h1>
        <p>
          <%= @post.updated_at.strftime("%d %b. %Y - %l:%M %P") %>
          por
          <%= link_to @post.user.name, user_path(@post.user.id) %>
        </p>
        <hr>
        <h4><%= @post.content %></h4>
        <hr>
        <div class="mb-4">
          <ul class= "list-group">
            <%= render @post_comments %>
          </ul>
          <%= will_paginate @post_comments, renderer: BootstrapPagination::Rails,  :previous_label => 'Atrás', :next_label =>'Adelante'%>
          <%= render "comments/form" %>
        </div>
      </div>
    </div>
    <% if current_user.id == @post.user.id %>
      <%= link_to "Edit", edit_course_post_path(@post.course.id, @post), class: "btn btn-warning" %>
      <%= link_to "Delete", course_post_path(@post), method: :delete, data: { confirm: "Estas seguro de querer eliminar este post?" }, class: "btn btn-danger" %>
    <% end %>
  </div>
  <br><br><br>
  <%= render "partials/footer" %>
</body>
