  <title>Contacto</title>
  <%= render "partials/header" %>
  <%= stylesheet_link_tag "styles"%>
</head>

  <body style="background-color:#F1F1F1"> 
    <%= render "partials/banner" %>
    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
