<head>
	<%= render "partials/header" %>
	<%= stylesheet_link_tag "styles"%>
	<%= javascript_include_tag "welcome" %>
	<title>Instrumentados</title>
</head>
<body>
	<%= render "partials/banner" %>
  <%= yield %>

 </body>
