<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <%= render "partials/header" %>
  <%= stylesheet_link_tag "styles"%>
  <%= javascript_include_tag "welcome" %>
  <% if current_page?(root_path)%> <!-- verificar en que pagina estoy para asignar el titulo -->
    <title>Instrumentados</title>
  <% else %>
    <title>Mi perfil</title>
  <% end %>
</head>

<body>
  <%= render "partials/banner" %> <!--Se maneja ahora con un if en banner -->
  <%= yield %>

</body>
</html>
