  <%= render "partials/header" %>
  <%= stylesheet_link_tag "styles"%>
  <%= stylesheet_link_tag "menu"%>
  <%= javascript_include_tag "welcome" %>
    <title>Instrumentados</title>
  </head>
    <%= yield %>
</html>
