  <%= render "partials/header" %>
  <%= stylesheet_link_tag "styles"%>
  <%= stylesheet_link_tag "menu"%>
  <%= javascript_include_tag "welcome" %>
    <title>Instrumentados</title>
  </head>

  <body>
    <%= render "partials/banner" %>
    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
